@model Vehicle

<div class="mt-4 d-flex flex-row justify-content-between">
    <div>
            <!-- navigation link to CreateTicket action, passing correct route parameter -->
            <a asp-action="TicketCreate" asp-route-id="@Model.Id" class="btn btn-sm btn-primary mb-3 "><i class="bi bi-bag-plus"></i> Add MOT Ticket</a>  
    </div>

</div>
@if (Model.Mots.Count == 0)
{
    <h5>No tickets yet....</h5>
}
else
{
    <div class="card rounded shadow">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>           
                    <th>On</th>
                    <th>By</th>
                    <th>Status</th>      
                    <th>Mileage</th>
                    <th>Report</th>  
                </tr>
            </thead>
            <tbody>
                @foreach(var m in Model.Mots)
                {
                    <tr>              
                        <td>@m.On</td>
                        <td>@m.MotTester</td> 
                        <td>@m.Mileage</td>
                        <td>@m.Report</td>
                        <td>
                            <a asp-action="TicketDelete" asp-route-id="@m.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}
