@model Vehicle

@if (Model.Mots.Count == 0)
{
    <h5>No MOT Records yet....</h5>
}
else
{
    <div class="card rounded shadow">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>           
                    <th>Date Of Previous MOTs</th>
                    <th>MOT Tester</th>
                    <th>Status</th>      
                    <th>Mileage</th>
                    <th>Report</th> 
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var m in Model.Mots)
                {
                    <tr>              
                        <td>@m.On.ToShortDateString()</td>
                        <td>@m.MotTester</td> 
                        <td>@m.Status</td>
                        <td>@m.Mileage</td>
                        <td>@m.Report</td>
                        <td>
                            <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-action="TicketDelete" asp-route-id="@m.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}
