@model Vehicle
<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/vehicle","Vehicles"),
    ($"/vehicle/details/{Model.Id}",$"{Model.Id}"),
    ("","Details")
}) />
<h3 class="mt-4 mb-4">Vehicle Details</h3>
<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">
            <dt class="col-5">Make</dt>
            <dd class="col-7">@Model.Make</dd>

            <dt class="col-5">Model</dt>
            <dd class="col-7">@Model.Model</dd>
            
            <dt class="col-5">Year</dt>
            <dd class="col-7">@Model.Year</dd>
            
            <dt class="col-5">Registration</dt>
            <dd class="col-7">@Model.Registration</dd>

            <dt class="col-5">Fuel Type</dt>
            <dd class="col-7">@Model.FuelType</dd>

            <dt class="col-5">Body Type</dt>
            <dd class="col-7">@Model.BodyType</dd>

            <dt class="col-5">Transmission Type</dt>
            <dd class="col-7">@Model.TransmissionType</dd>

            <dt class="col-5">CC</dt>
            <dd class="col-7">@Model.CC</dd>

            <dt class="col-5">No.Of Doors</dt>
            <dd class="col-7">@Model.No0fDoors</dd>

            <dt class="col-5">Mot Due</dt>
            <dd class="col-7">@Model.MotDue.ToShortDateString()</dd>
         
        </dl>

        <!-- flex box to separate two divs containing primary actions on left and danger action on right -->
        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>        

                <!-- navigation link to Details action, passing the correct route id parameter -->
                <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-controller="Vehicle" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i
                        class="bi bi-pen"></i> Edit</a>

                <!-- navigation link to redirect to Index action -->
                <a asp-controller="Vehicle" asp-action="Index" class="btn btn-sm btn-link"><i class="bi bi-list"></i>
                    Vehicles</a>

            </div>

            <div>
                <!-- toggle display of Delete Modal -->
                <button asp-condition=@(User.IsInRole("admin")) || User.IsInRole("manager")) type="button" class="btn btn-sm btn-danger" 
                        data-bs-toggle="modal" data-bs-target="#deleteStudentModal">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
    <!-- Photo -->
     <div class="col-4">
        <img src="@Model.PhotoUrl" class="img-fluid">
    </div>
</div>
    
</div>

<!-- Tickets -->
<div class="row pt-3">
    <partial name="_Tickets" />
</div>

<!-- Delete Modal -->
<partial name="_DeleteModal" />