@model IList<Vehicle>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Vehicles")
}) />

<h3 class="mb-3">Car Gallery</h3>

<a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) class="btn btn-sm btn-primary my-3" asp-action="Create" >
    <i class="bi bi-plus"></i> Add New Car
</a>     

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Photo</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.PhotoUrl</td>
                <td>@v.Make</td>
                <td>@v.Model</td>
                <td>@v.Year</td>
                <td>@v.Price</td>
                <td>
                    <!-- Add View link -->
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="view vehicle details" asp-controller="Vehicle" asp-action="Details" asp-route-id=@v.Id><i class="bi bi-display"></i></a>  
                    <!-- Add edit link  -->
                    <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-action="Edit" asp-route-id=@v.Id><i class="bi bi-pen"></i></a>
                    <!-- Add delete link -->
                    <a asp-condition=@User.IsInRole("admin") asp-action="Delete" asp-route-id=@v.Id><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }        
    </tbody>
</table>