@model IList<Vehicle>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Vehicles")
}) />

<h3 class="mb-3">Car Gallery</h3>

<a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) class="btn btn-sm btn-primary my-3" asp-action="Create" >
    <i class="bi bi-plus"></i> Add New Car
</a>

<table data-toggle="table" class="table table-sm table-bordered table-hover" data-sort-Year="Year" data-sort-Price="Price">
    <thead>
        <tr>
            <th data-sortable = "false">Id</th>
            <th data-sortable = "false">Photo</th>
            <th data-sortable = "false">Make</th>
            <th data-sortable = "false">Model</th>
            <th data-sortable = "true">Year</th>
            <th data-sortable = "true">MOT Due Date</th>
            <th data-sortable = "false">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@if (v.PhotoUrl != null)
                    {
                        <img src ="@Url.Content(v.PhotoUrl)" width = "190" height = "150" alt = "Image" />
                    }

                </td>
                <td>@v.Make</td>
                <td>@v.Model</td>
                <td>@v.Year</td>
                <td>@v.MotDue</td>
                <td>
                    <!-- Add View link -->
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="view vehicle details" asp-controller="Vehicle" asp-action="Details" asp-route-id=@v.Id><i class="bi bi-display"></i></a>  
                    <!-- Add edit link  -->
                    <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-action="Edit" asp-route-id=@v.Id><i class="bi bi-pen"></i></a>
                    <!-- Add delete link -->
                    <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-action="Delete" asp-route-id=@v.Id><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }        
    </tbody>
</table>

<script>
function runningFormatter(value, row, index) {
    return index;
}
</script>
