@model MedicalHistory

<!-- Breadcrumbs using partial view -->
<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/MedicalHistory", "MedicalHistory"), ("","Close") })>
    
<div class="col card rounded shadow-lg p-4">

    <h3 class="mb-4">Medical History Note</h3>

    <dl class="row">       
        <dt class="col-6">Id: </dt>
        <dd class="col-6">@Model.Id</dd>

        <dt class="col-6">Name of Dog: </dt>
        <dd class="col-6">@Model.Dog.Name</dd>

        <dt class="col-6">Created On: </dt>
        <dd class="col-6">@Model.CreatedOn.ToShortDateString()</dd>
     
        <dt class="col-6">Report: </dt>
        <dd class="col-6">@Model.Report</dd>

        <dt class="col-6">Medication: </dt>
        <dd class="col-6">@Model.Medication</dd>
   
        <dt class="col-6">Resolved On: </dt>
        <dd class="col-6">
            <span asp-condition=@(Model.Active)> 
                Unresolved
            </span>
            <span asp-condition=@(!Model.Active)> 
                @Model.ResolvedOn
            </span>
        </dd>
         
        <div>
            <dt class="col-4">Resolution: </dt>
            <dd class="col-8">@Model.Resolution</dd>
        </div>
      
    </dl>

    <div class="mt-4">           
        <button asp-condition=@(User.HasOneOfRoles("admin,manager")) disabled="@(!Model.Active)" 
                data-bs-toggle="modal" data-bs-target="#closeTicketModal" class="btn btn-sm btn-danger">
            <i class="bi bi-trash mr-1"></i>Close
        </button>
        <a class="btn btn-link" asp-action="Index">Cancel</a>
    </div>

</div> 

<partial name="_CloseModal"/>