@model Dog

<style>
                body {font-family: "Times New Roman", Georgia, Serif;}
                h1, h2, h3, h4, h5, h6 {
                font-family: "Playfair Display";
                letter-spacing: 5px;
                }
</style>

@if (Model.MedicalHistorys.Count == 0)
{
    <h5>No Medical History Records yet....</h5>
}
else
{
    <div>
        <table style="width:50%;margin-left:150px;margin-right:1500px;" class="table table-sm">
            <thead>
                <tr>           
                    <th>Created On</th>    
                    <th>Status</th>
                    <th>Report</th> 
                    <th>Medication</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var m in Model.MedicalHistorys)
                {
                    <tr>              
                        <td>@m.CreatedOn.ToShortDateString()</td>
                        <td>
                            @if (@m.Active) 
                            {
                                <i class="bi bi-toggle-on"></i>
                            }
                            else
                            {
                                <i class="bi bi-toggle-off"></i>
                            }
                        </td>
                        <td>@m.Report</td>
                        <td>@m.Medication</td>
                        <td>
                            <a asp-condition=@(User.IsInRole("volunteer") || User.IsInRole("manager")) asp-action="MedNoteDelete" asp-route-id="@m.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}
