@model Dog

@if (Model.MedicalHistorys.Count == 0)
{
    <h5>No Medical History Records yet....</h5>
}
else
{
    <div>
        <table style="width:75%" class="table table-sm table-bordered">
            <thead>
                <tr>           
                    <th>Created On</th>
                    <th>Vet</th>     
                    <th>Status</th>
                    <th>Report</th> 
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var m in Model.MedicalHistorys)
                {
                    <tr>              
                        <td>@m.CreatedOn.ToShortDateString()</td>
                        <td>@m.Vet</td> 
                        <td>
                            @if (@m.Active) 
                            {
                                <i class="bi bi-toggle-on"></i>
                            }
                            else
                            {
                                <i class="bi bi-toggle-off"></i>
                            }
                        </td>
                        <td>@m.Report</td>
                        <td>
                            <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-action="TicketDelete" asp-route-id="@m.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                        </td>             
                    </tr>   
                }
            </tbody>
        </table>
    </div>
}
