@model Dog

<style>
                body {font-family: "Times New Roman", Georgia, Serif;}
                h1, h2, h3, h4, h5, h6 {
                font-family: "Playfair Display";
                letter-spacing: 5px;
                }
</style>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/dog","Dogs"),
    ($"/dog/details/{Model.Id}",$"{Model.Id}"),
    ("","Details")
}) />
<h3 class="mt-4 mb-4">Dog Details</h3>
<div class="row">
    <!-- Details -->
    <div class="col-8 card rounded shadow p-3">
        <dl class="row">
            <dt class="col-5">Breed</dt>
            <dd class="col-7">@Model.Breed</dd>

            <dt class="col-5">Name</dt>
            <dd class="col-7">@Model.Name</dd>
            
            <dt class="col-5">Chip Number</dt>
            <dd class="col-7">@Model.ChipNumber</dd>

            <dt class="col-5">Age</dt>
            <dd class="col-7">@Model.Age</dd>

            <dt class="col-5">Information</dt>
            <dd class="col-7">@Model.Information</dd>
         
        </dl>

        <!-- flex box to separate two divs containing primary actions on left and danger action on right -->
        <div class="mt-4 d-flex flex-row justify-content-between">
            <div>

                <!-- navigation link to CreateTicket action, passing correct route parameter -->
                <a asp-condition=@(User.IsInRole("volunteer") || User.IsInRole("manager")) asp-action="TicketCreate"
                 asp-route-id="@Model.Id" class="btn standard btn-sm"><i class="bi bi-bag-plus"></i> Add Medical History Note</a>          

                <!-- navigation link to Details action, passing the correct route id parameter -->
                <a asp-condition=@(User.IsInRole("volunteer") || User.IsInRole("manager")) asp-controller="Dog"
                 asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i
                 class="bi bi-pen"></i> Edit</a>

                <!-- navigation link to AdoptionApplicationCreate action, passing correct route parameter -->
                <a asp-condition=@(User.IsInRole("guest")) asp-action="AdoptionApplicationCreate"
                 asp-route-id="@Model.Id" class="btn standard btn-sm"><i class="bi bi-clipboard-data"></i> Adoption Application</a>   

                <!-- navigation link to redirect to Index action -->
                <a asp-controller="Dog" asp-action="Index" class="btn btn-sm btn-link"><i class="bi bi-list"></i>
                    Dogs</a>

            </div>

            <div>
                <!-- toggle display of Delete Modal -->
                <button asp-condition=@(User.IsInRole("volunteer")) || User.IsInRole("manager")) type="button" class="btn btn-sm btn-danger" 
                        data-bs-toggle="modal" data-bs-target="#deleteDogModal">
                    <i class="bi bi-trash"></i>Delete
                </button>
            </div>
        </div>
    </div>
    <!-- Photo -->
     <div class="col-4">
        <img src="@Model.PhotoUrl" class="img-fluid center">
    </div>
</div>
    
</div>

<!-- Medical History notes -->
<div class="row pt-3">
    <partial name="_Tickets" />
</div>

<!-- Delete Modal -->
<partial name="_DeleteModal" />