@model IList<Dog>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Dogs")
}) />

<h3 class="mb-3">I need a home...</h3>

<a asp-condition=@User.HasOneOfRoles("manager,admin") class="btn btn-sm btn-primary my-3" asp-action="Create" >
    <i class="bi bi-plus"></i> Add New Dog
</a>

<table id="myTable" data-toggle="table" class="table table-sm table-bordered table-hover">
    <thead>
        <tr>
            <th>Breed</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Chip Number</th>
            <th>Date Of Birth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@if (v.PhotoUrl != null)
                    {
                        <img src ="@Url.Content(v.PhotoUrl)" width = "190" height = "150" alt = "Image" />
                    }

                </td>
                <td>@v.Name</td>
                <td>@v.ChipNumber</td>
                <td>@v.DOB.ToShortDateString()</td>
                
                <td>
                    <!-- Add View link -->
                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="view dog details" asp-controller="Dog"
                     asp-action="Details" asp-route-id=@v.Id><i class="bi bi-display"></i></a>  
                    <!-- Add edit link  -->
                    <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) 
                     asp-action="Edit" asp-route-id=@v.Id><i class="bi bi-pen"></i></a>
                    <!-- Add delete link -->
                    <a asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager")) asp-action="Delete" 
                     asp-route-id=@v.Id><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }        
    </tbody>
</table>


